<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!listOfDiscoverMovies?.length"
    ><ion-row class="textColor"
      ><ion-col size-md="4" offset-md="4"
        ><h1 class="ion-text-center">No Movies</h1>
        <p class="ion-text-center ion-margin">Loading ...</p></ion-col
      ></ion-row
    ></ion-grid
  ><ng-container *ngIf="listOfDiscoverMovies?.length > 0">
    <ion-list
      *ngFor="let movie of listOfDiscoverMovies, let movieIndex = index"
    >
      <ion-card>
        <img [src]="movie.backdropPath" />
        <ion-card-content>
          <div >
            <ion-card-title slot="start"> {{movie.title}} </ion-card-title
            ><ion-icon name="star" slot="end"></ion-icon>
            <ion-text class="ion-text-left" slot="end" color="primary">
              {{movie.voterAverage}} / 10
            </ion-text>
          </div>
          <p class="ion-margin">{{movie.overview}}</p>
          <button
            slot="end"
            class="ion-margin ion-padding"
            [routerLink]="['/movie-details', movie.id]"
            ion-button
            color="secondary"
            outline
          >
            View Details
          </button>
          <button
            slot="end"
            class="ion-margin ion-padding"
            (click)="doSomethig()"
            ion-button
            color="secondary"
            outline
          >
            + Watchlist
          </button>
          <button
            slot="end"
            class="ion-margin ion-padding"
            (click)="doSomethig()"
            ion-button
            color="secondary"
            outline
          >
            + Favourites
          </button>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-container></ion-content
>
